
.body {
  background: url('/beer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin-left: 10vw;
  margin-right: 20vw;
  overflow: scroll;
  font-family: sans-serif;
  z-index: 3;
}

.beer-info{
  height: 92vh;
  width: 20vw;
  position: fixed;
  z-index: 2;
  right: 0;
  background-color: #404554;
  overflow-y: scroll;
  overflow-x: hidden;
  border-left-style: solid;
  border-left-width: thin;
  padding: 1%;
  box-sizing: border-box;
  font-size: 1.5em;
  background: linear-gradient(45deg, #4a4a4e, #454550);
  font-family: sans-serif;
  color: white;
  border-color: #0000002b;
}

.header {
    background-color: #2f2f30;
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 10;
    width: 100em;}

.header-img {
    height: 2.3em;
    border-radius: .2em;
    margin-left: .2em;
}

  .beer-img{
      height: 30em;
      width: 30em;
    }
    
/*    *******SIDE BAR BELOW***********      */
.side-bar {
  background: linear-gradient(45deg, #464650, #49494e);
  height: 100%;
  border-right: solid;
  border-color: #0000001a;
  width: 10vw;
  position: fixed;
  z-index: 1;
  left: 0;
  color: slategray;
  overflow-x: hidden;
    }
/* Style the buttons that are used to open the tab content */
.side-bar button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 8px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5em;
    overflow: break-word;
  }
  
  /* Change background color of buttons on hover */
  .side-bar button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "side-bar button" class */
  .side-bar button.active {
    background-color: #ccc;
  }
  
  /* Style the side-bar content */
  .side-barcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }
  
 