.card {
  box-shadow: 0 15px 15px 0 rgba(0,0,0,0.6);
  transition: 0.3s;
  min-width: 30em;
  max-width: 30em;
  max-height: 40em;
  min-height: 40em;
  border-radius: 1%;
  background-color: white
  }
  
.card:hover {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  }
  
img {
    border-radius: 5px 5px 0 0;
  }
  
.container {
    padding: 2px 16px;
  }