.white-card {
    /* background-color: white;
    background-size: contain;
    position: fixed;
    top: 15%;
    left: 25%;
    width: 50vw;
    height: 75vh;
    z-index: 4;
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    fontColor: "black" */

    height: 85vh;
    margin-left: 10vw;
    margin-right: 20vw;
    padding: 2%;
    position: fixed;
    background-size: cover;
    overflow: auto;
    width: 66vw;
    font-family: sans-serif;
}